#header-wp {
    padding: 1rem;
}

#logo {
    color: #fff;
    background-color: #e74c3c;
    border-radius: 1rem;
}

#logo:hover {
    color: #fff;
}

#navigation {
    /* background-color: #343a40; */
}

#header-wp nav {
    margin-top: 2rem;
}

#header-wp nav a {
    text-transform: uppercase;
    color: #fff;
}

#search-form {
    margin-left: -4rem;
    margin-top: 1.5rem;
}

#cart {
    margin-top: 0.5rem;
}