#sidebar-wp {
    background-color: #fff;
    margin-top: 1rem;
    margin-right: 1rem;
}

#sidebar-wp ul li a {
    display: block;
    padding: 1rem;
    padding-left: 2rem;
    color: #343a40;
}

#sidebar-wp ul li a:hover {
    color: #fff;
    background-color: #343a40;
    transition: all 0.3s;
}